body {
    color: #800080;
}

body {
    background-color: #87CEEB;
}

#sample-metadata {
    font-family: 'Lucida Bright', Lucida, 'Lucida Sans', 'Lucida Sans Regular', serif;
    font-size: 20px;
}